ADZUNA_APP_ID=your_app_id_here
ADZUNA_APP_KEY=your_app_key_here
AZURE_STORAGE_CONNECTION_STRING=your_connection_string_here
SQL_SERVER=your_server_here
SQL_DATABASE=your_database_here
SQL_USERNAME=your_username_here
SQL_PASSWORD=your_password_here
